.form-container-song {
    height: auto;
    min-width: 50%;
    background-image: url(../background3.gif);
    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}