/* TODO Add site wide styles */
* {
    box-sizing: border-box;
}

main {
    padding: 0px;
}

body {
    padding: 0px;
    margin: 0px;
}

html {
    padding: 0px;
}

.form-page {
    display: flex;

}

input:focus {
    border: none;
}

.wrapper {
    min-height: 100%;
    margin-bottom: -250px;
}

.footer,
.push {
    height: 250px;
}

input:focus {
    border: none;
    outline: none;
}
input {
    border: none;
    outline: none;
    border-radius: 3px;
}

textarea {
    border-radius: 3px;
    border: none;
    outline: none;
}
textarea:focus {
    border: none;
    outline: none;
}