/* TODO Add site wide styles */
div {
    box-sizing: border-box;
}

main {
    padding: 0px;
}

body {
    padding: 0px;
    margin: 0px;
}

html {
    padding: 0px;
}

.form-page {
    display: flex;

}

.partition {
    position: absolute;
    z-index: 1;
    background-color: lightblue;
    width: 50%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: margin 1s ease;
}

.partition-login {
    position:absolute;
    margin-left: 50vw;
}
.partition-sign-up {
    position:absolute;
    margin-left: 0vw;
}

.login-active{
    z-index: 3;
    position: absolute;
}

.login-hidden {
    display: none;
}

.sign-up-hidden {
    display: none;
}
.sign-up-active {
}