.form-container {
    height: 100vh;
    min-width: 50%;
    background-image: url(../../static/background3.gif);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

.form-inputs {

    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 400px;
    width: auto;
    height: auto;
    background-color: rgba(255,255,255,.4);
    border-radius: 2px;
    padding: 30px;
}

.form-input {
    margin: 10px;
    font-size: 20px;
    font-family: Raleway, arial, sanserif, sans-serif;
}

input {
    padding-left: 5px;
    height: 30px;
    font-size: 20px;
    color: black;
    font-family: Quattrocento;
}

button {
    white-space: nowrap;
    background-color: black;
    color: white;
    border: none;
    padding: 5px 10px 5px 10px;
    cursor: pointer;
    font-family: Raleway, arial, sanserif;
    font-size: 25px;
    border-radius: 2px;
    margin: 10px;
    margin-top: 7px;
    margin-bottom: 7px;
    height: 40px;
    min-width: auto;
}

button:focus {
    outline: none;
}

button:hover {
    color: #E561B3;
}

.form-input-file {
    margin: 10px;
    width: 250px;
    align-items: center;
    background-color: white;
    border-radius: 5px;
    display: flex;
    padding-left: 10px;
    position: relative;
}


.file-upload {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    position: relative;
}

.custom-file-input {
    opacity: 0;
    width: 100%;
    position: absolute;
    z-index: -1;
}

.file-path {
    color: black;
    font-size: 20px;
    font-family: Quattrocento;
    text-overflow: ellipsis;
    overflow: hidden;
    flex-basis: 100%;
    white-space: nowrap;
}

.file-upload .form-input-file {
    width: 100%;
    justify-content: flex-end;
}


label {
    font-size: 30px;
    font-family: Raleway, arial, sanserif, sans-serif;
}

.partition {
    position: absolute;
    z-index: 1;
    background-color: black;
    color:white;
    font-family: Rubik;
    width: 52%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: margin 1s ease;
}

.partition-login {
    position: absolute;
    margin-left: 48vw;
}

.partition-sign-up {
    position: absolute;
    margin-left: -2vw;
}

.login-active {
    z-index: 4;
    position: absolute;
    cursor: pointer;
}

.login-hidden {
    display: none;
}

.sign-up-hidden {
    display: none;
}

.sign-up-active {
    z-index: 4;
    cursor: pointer;
}

.lyrics-field {
    width: 300px;
    height: 150px;
    resize: none;
    padding: 10px;
    font-family: Roboto;
}


.file-button {
    display: inline-block;
    border-radius: 3px;
    padding: 5px 8px;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
    cursor: pointer;
    font-weight: 700;
    font-size: 10pt;
}

.file-button:hover {
    color: white;
}

select {
    font-family: Roboto, Arial, Helvetica, sans-serif;
    height: 50px;
    width: 300px;
    font-size: 1em;
    border: solid 2px #E561B3;
    border-radius: 2px;
}

select:focus {
    outline: none;
}


.laptop-icon {
    position: absolute;
    top: 10px;
    width: 200px;
    height: 200px;
    background-size: contain;
    background-image: url("../../static/laptopicon.png");
}

.login-active:hover {
    color: #E561B3;
}
.sign-up-active:hover {
    color: #E561B3;
}

.switch-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 300px;
}
