.main-content {
    box-sizing: border-box;
    padding: 50px;
    padding-left: 100px;
    padding-right: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.top-20 {
    background-color: orange;
    padding: 20px;
    display: flex;
    width: 75%;
    flex-direction: column;
    align-items: space-around;
    height: 500px;
    overflow-y: scroll;
    overflow-x: hidden;
    margin: 40px;
    margin-top: 0px;
}


.artists-container {
    background-color: lightpink;
    padding: 20px;
    display: flex;
    flex-direction: column;
    width: 90%;
    overflow-y: scroll;
    overflow-x: hidden;
}
.top-artists {
    background-color: lightpink;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    ". ."
    ". ."
    ;
    overflow-y: scroll;
    overflow-x: hidden;
}

.title-20 {
    font-size: 40px;

}
.title-artist {
    font-size: 40px;
    grid-area: title;
}

.song-tile {
    background-color: lightblue;
    margin: 10px;
    padding: 10px;
    display: flex;
    align-items: center;
}

.song-number {
    margin-left: 30px;
    font-size: 30px;
}

.song-image {
    width: 90px;
    height: 90px;
    background-color: pink;
    margin: 0px 0px 0px 30px;
    font-size: 20px;
    cursor: pointer;
}
.artist-image {
    width: 150px;
    height: 150px;
    background-color: pink;
    margin: 0px 0px 0px 30px;
    font-size: 20px;
    cursor: pointer;
}

.song-title {
    margin: 0px 30px 0px 30px;
    font-size: 25px;
    cursor: pointer;
}

.song-artist {
    margin: 10px;
    font-size: 25px;
    text-align: right;
    cursor: pointer;
}

.artist-tile {
    background-color: lightblue;
    margin: 10px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.song-link {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 80%;
}